<? xml version = "1.0" encoding = "UTF-8" ?>
  <configuration>
    <system.webServer>
      <staticContent>
        <remove fileExtension=".js" />
        <mimeMap fileExtension=".js" mimeType="application/javascript" />
        <remove fileExtension=".jsx" />
        <mimeMap fileExtension=".jsx" mimeType="application/javascript" />
      </staticContent>
    </system.webServer>
  </configuration>