#uncontrolled-tab-example-tab-venda,
#uncontrolled-tab-example-tab-despesas {
    background-color: #f8f9fa;
    color: #8538a6;
    font-weight: 600;
}

#uncontrolled-tab-example-tab-venda.nav-link.active,
#uncontrolled-tab-example-tab-despesas.nav-link.active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px;

}